<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Senai</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="container">
            <img class="logo" src="Rsenai.png" alt="Logo Rock Senai">
            <nav>

            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <section>
                <form action="">
               <label for="nome">nome</label> 
                <input type="text">
                <label for="email">email</label>
                <input type="email">
                <label for="senha">senha</label>
                <input type="senha">
               <button>cadastrar</button> 
            </form>
            </section>
        </div>
    </main>
    <footer>
        <span>Copyright e 2020 - Escola Senai de Informática</span>
    </footer>


</body>

</html>