*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 120px;
}

.container{
    width: 80%;
}

main {
    background-color:#ff0000;
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section{
    background-color: black;
    
   
    padding: 20px;
    
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main label{
    color: white;
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: 400;
    text-transform: capitalize;
    margin-right: 45%;
    margin-top: 25px;
    
}

main input{
    width: 50% ;
    height: 5%;
}

main button{
    border: none;
    width: 110px;
    height: 60px;
    background-color: white;
    margin-top: 25px;
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: 400;
    text-transform: capitalize;

}

footer{
    width: 100%;
    height:15vh ;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer span{
    color: white;
}