
    <div class="container">
        <section>
            <form action='@Url.Action("Logar")'method="post">
                <label for="email">email</label>
                <input type="text" name="email">
                <label for="senha">senha</label>
                <input type="password" name="senha">
                <button type="submit">logar</button>
            </form>
        </section>
    </div>
